<script src="scripts/script.js"></script>
<br>
<h1 class="clinician-title">Patient Overview</h1>

<button class="clinician-view-comments" onclick="location.href='/clinician_dashboard/comments'">View All Patient Comments (Can someone please style/format this button with the rest of the page lol)</button>


<div class="topbar">
    <div class="searchbar">
        <div class="search-icon">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#c0c0c0" stroke-width="3"
                stroke-linecap="round" stroke-linejoin="round" class="feather feather-search">
                <circle cx="11" cy="11" r="8" />
                <line x1="21" y1="21" x2="16.65" y2="16.65" />
            </svg>
        </div>
        <div class="InputContainer">
            <input placeholder="Search Patient" />
        </div>
    </div>
    <div class="flexbox-sortby">Sort By</div>
    <form class="clinician-sortby-form" action="#">
        <select name="sortby" id="sort">
            <option value="lastupdated">Last Updated ▼</option>
            <option value="firstupdated">Last Updated ▲</option>
            <option value="name">Name </option>
        </select>
    </form>
</div>

<div class="flexbox-patient-overview-container">
    {{#each data}}
    <div class="flexbox-patient-individuals">
        <div class="grid-patient-item">
            <div class="grid-patient-profile">
                <div class="flexbox-patient-profile">
                    <div class="patient-profile-icon">
                        <img src="../assets/icon_profile.png" width="80" height="80">
                    </div>
                    <div>
                        <a href="/clinician_dashboard/patient/{{username}}"><div class="patient-name">{{username}}</div></a>
                        <div class="patient-last-updated">Last Updated:</div>
                        <div class="patient-last-updated">{{date}}</div>
                        <div class="patient-last-updated">{{time}}</div>
                    </div>
                </div>
                <div class="flexbox-patient-button">
                    <button class="patient-button purple2" onclick="location.href='/clinician_dashboard/patient/{{username}}'">View Full</button>

                    <!-- Disabled since messaging is technically handled within a patients profile now... -->
                    {{!-- <button class="patient-button purple1">Message</button> --}}
                </div>
            </div>
            <div class="grid-patient-category bold">Blood Glucose</div>
            {{#thresholdChecker measured_glucose}}
            <div class="grid-patient-data red-highlight">{{measured_glucose}}</div>
            {{else}}
            <div class="grid-patient-data">{{measured_glucose}}</div>
            {{/thresholdChecker}}
            <div class="grid-patient-category bold">Weight</div>
            <div class="grid-patient-data">{{measured_weight}}</div>
            <div class="grid-patient-category bold">No. Insulin Doses</div>
            <div class="grid-patient-data">{{measured_insulin}}</div>
            <div class="grid-patient-category bold">Exercise (Step Count)</div>
            <div class="grid-patient-data">{{measured_exercise}}</div>
        </div>
        <div class="grid-patient-action-required">
            <div class="grid-patient-action-required-title bold">Comments</div>
            <div class="grid-patient-action-required-comment">{{comment}}</div>
        </div>
    </div>
    {{/each}}

</div>
<br>
{{!-- <h1 class="clinician-title">Comments</h1>
<div class="grid-comment">
    <div class="grid-comment-cell bold">Date/Time</div>
    <div class="grid-comment-cell bold">Patient</div>
    <div class="grid-comment-cell bold grid-no-right-border">Comment</div>
    <div class="link-cell "></div>
    <div class="grid-comment-cell">01/01/2022, 1:00PM</div>
    <div class="grid-comment-cell">John Doe</div>
    <div class="grid-comment-cell grid-no-right-border ">Got Diabetes from doing assignments</div>
    <div class="link-cell bold">
        <a href="about_diabetes" class="link-cell bold grid-no-bottom-border">View Advanced Detail ></a>
    </div>
    <div class="grid-comment-cell">01/01/2022, 1:00PM</div>
    <div class="grid-comment-cell">John Doe</div>
    <div class="grid-comment-cell grid-no-right-border">Got Diabetes from doing assignments</div>
    <div class="link-cell bold">
        <a href="about_diabetes" class="link-cell bold grid-no-bottom-border">View Advanced Detail ></a>
    </div>
    <div class="grid-comment-cell">01/01/2022, 1:00PM</div>
    <div class="grid-comment-cell">John Doe</div>
    <div class="grid-comment-cell grid-no-right-border">Got Diabetes from doing assignments</div>
    <div class="link-cell bold">
        <a href="about_diabetes" class="link-cell bold grid-no-bottom-border">View Advanced Detail ></a>
    </div>
    <div class="grid-comment-cell">01/01/2022, 1:00PM</div>
    <div class="grid-comment-cell">John Doe</div>
    <div class="grid-comment-cell grid-no-right-border">Got Diabetes from doing assignments</div>
    <div class="link-cell bold">
        <a href="about_diabetes" class="link-cell bold grid-no-bottom-border">View Advanced Detail ></a>
    </div>
    <div class="grid-comment-cell grid-no-bottom-border">01/01/2022, 1:00PM</div>
    <div class="grid-comment-cell grid-no-bottom-border">John Doe</div>
    <div class="grid-comment-cell grid-no-bottom-border grid-no-right-border">Got Diabetes from doing assignments</div>
    <div class="link-cell bold grid-no-bottom-border">
        <a href="about_diabetes" class="link-cell bold grid-no-bottom-border">View Advanced Detail ></a>
    </div>
</div> --}}