<div id="patient-specifics-topbar">
    <p class="topbar-tree">
        <a href="/patient_dashboard" class="ul-text">Patient Dashboard</a>
    <p class="topbar-tree"> > </p>
    <a href="" class="ul-text">Leaderboard</a>
    </p>
</div>

<!-- container to hold everything -->
<div class="leaderboard-container">
    <h1 class="LB-heading">Leaderboard</h1>
<!-- Top graphics section e.g. top 3 people-->
<!-- Need to replace pat_username with his username and replace other usernames-->
    <div class="leaderboard-image-flex">
        <div class="place">
            <img src="../assets/2nd.png" class="second-icon">
            <p class="user-labels">{{second}}</p>
        </div>

        <div class="place">
            <img src="../assets/1st.png" class="first-icon">
            <p class="user-labels">{{first}}</p>
        </div>

        <div class="place">
            <img src="../assets/3rd.png" class="third-icon">
            <p class="user-labels">{{third}}</p>
        </div>
    </div>

<!-- Top 5 list of people -->

    <div class="top-5-container">
        <h2 class="top-title">Rankings</h2>

        {{#each rank}}
        <div class="top-others">
            <p class="board-label">{{inc @index}}</p>
            <p class="board-label">{{username}}</p>
            <p class="user-score">{{daysEngaged}}/{{daysRegistered}} days | {{engagementRate}}%</p>
        </div>
        {{/each}}
        {{!-- <div class="top-1">
            <img src="../assets/1-label.png" class="board-icon">
            <p class="board-label">Username_1</p>
            <p class="user-score">95%</p>
        </div>
    
        <div class="top-2">
            <img src="../assets/2-label.png" class="board-icon">
            <p class="board-label">pat_username</p>
            <p class="user-score">83%</p>
        </div>

        <div class="top-3">
            <img src="../assets/3-label.png" class="board-icon">
            <p class="board-label">Username_2</p>
            <p class="user-score">80%</p>
        </div>

        <div class="top-others">
            <img src="../assets/4-label.png" class="board-icon">
            <p class="board-label-2">Username_3</p>
            <p class="user-score-2">79%</p>
        </div>

        <div class="top-others">
            <img src="../assets/5-label.png" class="board-icon">
            <p class="board-label-2">Username_1</p>
            <p class="user-score-2">77%</p>
        </div> --}}

    </div>

</div>


