<div id="patient-specifics-topbar">
    <p class="topbar-tree">
        <a href="/patient_dashboard" class="ul-text">Patient Dashboard</a>
    <p class="topbar-tree"> > </p>
    <a href="" class="ul-text">Leaderboard</a>
    </p>
</div>

<!-- container to hold everything -->
<div class="leaderboard-container">
    <h1 class="LB-heading">Leaderboard</h1>
    <!-- Top graphics section e.g. top 3 people-->
    <!-- Need to replace pat_username with his username and replace other usernames-->
    <div class="leaderboard-image-flex">
        <div class="place">
            <img src="../assets/2nd-icon.png" class="second-icon">
            <p class="user-labels">{{second}}</p>
        </div>

        <div class="place">
            <img src="../assets/1st-icon.png" class="first-icon">
            <p class="user-labels">{{first}}</p>
        </div>

        <div class="place">
            <img src="../assets/3rd-icon.png" class="third-icon">
            <p class="user-labels">{{third}}</p>
        </div>
    </div>

    <!-- Top 5 list of people -->

    <div class="top-5-container">
        <h2 class="top-title">Top 5</h2>
        <div class="leaderboard-header-bar">
            <div class="header-items rank-item blue">Rank</div>
            <div class="header-items user-item purple1">User</div>
            <div class="header-items days-item purple2">Days</div>
            <div class="header-items rate-item purple3">Rate</div>
        </div>
        {{#each rank}}
        <div class="top-others">
            <div class="leaderboard-header-bar">
                <div class="row-items rank-item">{{inc @index}}</div>
                <div class="row-items user-item">{{username}}</div>
                <div class="row-items days-item">{{daysEngaged}} of {{daysRegistered}}</div> 
                <div class="row-items rate-item">{{engagementRate}}%</div>
            </div>
        </div>
        {{/each}}
        {{!-- <div class="top-1">
            <img src="../assets/1-label.png" class="board-icon">
            <p class="board-label">Username_1</p>
            <p class="user-score">95%</p>
        </div>

        <div class="top-2">
            <img src="../assets/2-label.png" class="board-icon">
            <p class="board-label">pat_username</p>
            <p class="user-score">83%</p>
        </div>

        <div class="top-3">
            <img src="../assets/3-label.png" class="board-icon">
            <p class="board-label">Username_2</p>
            <p class="user-score">80%</p>
        </div>

        <div class="top-others">
            <img src="../assets/4-label.png" class="board-icon">
            <p class="board-label-2">Username_3</p>
            <p class="user-score-2">79%</p>
        </div>

        <div class="top-others">
            <img src="../assets/5-label.png" class="board-icon">
            <p class="board-label-2">Username_1</p>
            <p class="user-score-2">77%</p>
        </div> --}}

    </div>

</div>