<!--      http://127.0.0.1:3000/clinician_dashboard/Bob       -->


<div id="patient-specifics-topbar">
    <p class="topbar-tree">
        <a href="../" class="ul-text">Clinician Dashboard</a>
    <p class="topbar-tree"> > </p>
    <a href="" class="ul-text">Clinician Record for {{profileData.username}}</a>
    </p>
    <h1 id="username">Clinical Record for {{profileData.username}}</h1>
</div>


<div id="patient-specifics-container">
    <div class="patient-specifics-userbox">
        <div class="patient-specifics-userbox-subgrid">
            <img class="patient-specifics-pfp" src="../assets/icon_profile.png" alt="Profile picture" width="150"
                height="150">

            <h2 class="patient-specifics-name">{{profileData.firstName}} {{profileData.lastName}}</h2>

            <!-- HTML related to the clickable 'Adjust Time Series' button-->
            <button data-modal-target="#modal" class="button04 purple2">Adjust Time-Series</button>

            <form method="POST" action="/clinician_dashboard/post_time_series/{{profileData.username}}">
                <div class="modal" id="modal">
                    <div class="modal-header">
                        <div class="title">Adjust Time Series</div>
                        <button data-close-button class="close-button">&times;</button>
                    </div>
                    <div class="modal-current-values">
                        {{#if permittedToRecordAnything}}
                        <p>This patient has currently been assigned:</p>
                        {{#if allowGlucose}}
                        <ul>
                            <li class="guidance-dotpoint">Blood glucose levels between
                                {{profileData.threshold_bg.lower}} nmol/L and {{profileData.threshold_bg.upper}} nmol/L.
                            </li>
                        </ul>
                        {{/if}}

                        {{#if allowInsulin}}
                        <ul>
                            <li class="guidance-dotpoint">Insulin between {{profileData.threshold_insulin.lower}} to
                                {{profileData.threshold_insulin.upper}} doses</li>
                        </ul>
                        {{/if}}

                        {{#if allowWeight}}
                        <ul>
                            <li class="guidance-dotpoint">Weight between
                                {{profileData.threshold_weight.lower}} kg and
                                {{profileData.threshold_weight.upper}} kg.</li>
                        </ul>
                        {{/if}}

                        {{#if allowExercise}}
                        <ul>
                            <li class="guidance-dotpoint">Exercise between
                                {{profileData.threshold_exercise.lower}} and {{profileData.threshold_exercise.upper}} steps.
                            </li>
                        </ul>
                        {{/if}}

                        {{else}}
                        <p>This patient has not been assigned any time series.</p>
                        {{/if}}
                        <br>
                        <p>You can create a new time series for the patient below:</p>

                    </div>
                    <div class="modal-body">
                        <!-- Grid area -->
                        <p class="popup-table-title">Time Series</p>
                        <p class="popup-table-title">Lower Limit</p>
                        <p class="popup-table-title">Upper Limit</p>

                        <label class="checkbox">
                            <input class="input-checkbox" name="checkbox" id="checkbox_bg" value="blood_glucose"
                                type="checkbox">
                            Blood Glucose (nmol/L)
                        </label>
                        <div class="popup-input-box-container">
                            <input type="text" id="popup-input-box" name="lower_bg" maxlength="10">
                        </div>
                        <div class="popup-input-box-container">
                            <input type="text" id="popup-input-box" name="upper_bg" maxlength="10">
                        </div>

                        <label class="checkbox">
                            <input class="input-checkbox" name="checkbox" id="checkbox_weight" value="weight"
                                type="checkbox">
                            Weight (kg)
                        </label>
                        <div class="popup-input-box-container">
                            <input type="text" id="popup-input-box" name="lower_weight" maxlength="10">
                        </div>
                        <div class="popup-input-box-container">
                            <input type="text" id="popup-input-box" name="upper_weight" maxlength="10">
                        </div>

                        <label class="checkbox">
                            <input class="input-checkbox" name="checkbox" id="checkbox_steps" value="steps"
                                type="checkbox">
                            Exercise (Steps)
                        </label>
                        <div class="popup-input-box-container">
                            <input type="text" id="popup-input-box" name="lower_steps" maxlength="10">
                        </div>
                        <div class="popup-input-box-container">
                            <input type="text" id="popup-input-box" name="upper_steps" maxlength="10">
                        </div>

                        <label class="checkbox">
                            <input class="input-checkbox" name="checkbox" id="checkbox_insulin" value="insulin"
                                type="checkbox">
                            Num. Doses
                        </label>
                        <div class="popup-input-box-container">
                            <input type="text" id="popup-input-box" name="lower_doses" maxlength="10">
                        </div>
                        <div class="popup-input-box-container">
                            <input type="text" id="popup-input-box" name="upper_doses" maxlength="10">
                        </div>

                        <!-- Submit Button -->
                        <input class="modal-button modal-submit" type="submit" value="Submit">
                    </div>
                </div>
            </form>

            {{!-- <button class="button04 purple1"
                onclick="location.href='/clinician_dashboard/{{profileData.username}}/patient_message'">Support
                Message</button> --}}


            <div id="backgroundMasker"></div>
            <script src="../scripts/script.js"></script>


        </div>
    </div>

    <div class="patient-specifics-table">
        <div class="patient-specifics-table-header">Date</div>
        <div class="patient-specifics-table-header">Time</div>
        <div class="patient-specifics-table-header">Data Type</div>
        <div class="patient-specifics-table-header">Value</div>
        <div class="patient-specifics-table-header">Comment</div>

        {{#each patientValues}}
        <div class="patient-specifics-table-data">{{date}}</div>
        <div class="patient-specifics-table-data">{{time}}</div>
        <div class="patient-specifics-table-data">{{dataType}}</div>
        {{#if threshExceeded}}
        <div class="patient-specifics-table-data-exceeded">{{value}}</div>
        {{else}}
        <div class="patient-specifics-table-data">{{value}}</div>
        {{/if}}
        <div class="patient-specifics-table-data">{{comment}}</div>
        {{/each}}

    </div>

    <div class="patient-specifics-notes-container">
        <p class="blue-heading-medium">Support Message for {{profileData.username}}</p>
        {{profileData.support_msg}}
        <h3>Set new message</h3>
        <form method="POST" action="/clinician_dashboard/post_submit_msg/{{profileData.username}}">
            <input type="text" id="cMsg" name="cMsg" placeholder="Start typing here..." required>
            <input class="todo" type="submit" value="Update Support Message">
        </form>
    </div>

    <div class="patient-specifics-notes-container">
        <p class="blue-heading-medium">Clinical Notes for {{profileData.username}}</p>
        <br>
        {{#if clinicianNote}}
        <div class="clinician-notes">
            <div class="clinician-notes-cell">Date</div>
            <div class="clinician-notes-cell">Time</div>
            <div class="clinician-notes-cell">Note</div>
        </div>
        {{else}}
        <h4>No Notes</h4>
        {{/if}}
        <div class="clinician-notes scroll">

            {{#each clinicianNote}}
            <div class="clinician-notes-cell">{{this.date}}</div>
            <div class="clinician-notes-cell">{{this.time}}</div>
            <div class="clinician-notes-cell">{{this.note}}</div>
            {{/each}}
        </div>
        <br>
        <h3>Enter new note</h3>
        <form method="POST" action="/clinician_dashboard/submit_note/{{profileData.username}}">
            <input type="text" id="cNote" name="cNote" placeholder="Start typing here..." required>
            <input class="todo" type="submit" value="Submit Note">
        </form>

    </div>
</div>

<br>
<div class="patient-specifics-overview-container">
    {{!-- <h2 class="patient-specifics-grid-title blue-text">Overview of {{profileData.username}}'s Health Data</h2>
    --}}

    <div class="patient-specifics-graph">
        <h2 class="blue-text">Statistical Graph</h2>
        <img src="../assets/line-graph.png" class="line-graph">
    </div>

    <div class="patient-specifics-month">
        <h2 class="blue-text">Monthly Overview</h2>
        <img src="../assets/monthly-overview.png" class="overview-graph">
    </div>
</div>
<br>