<!--      http://127.0.0.1:3000/clinician_dashboard/Bob       -->


<div id="patient-specifics-topbar">
    <h2 id="username">Clinical Record for {{profileData.username}}</h2>
</div>


<div id="patient-specifics-container">
    <div class="patient-specifics-userbox">
        <div class="patient-specifics-userbox-subgrid">
            <img class="patient-specifics-pfp" src="../assets/icon_profile.png" alt="Profile picture" width="150"
                height="150">

            <h2 class="patient-specifics-name">{{profileData.firstName}} {{profileData.lastName}}</h2>

            <button data-modal-target="#modal" class="button04 purple2">Adjust Time-Series</button>
            <div class="modal" id="modal">
                <div class="modal-header">
                    <div class="title">Required Time-Series</div>
                    <button data-close-button class="close-button">&times;</button>
                </div>
                <div class="modal-body">
                    <!-- Grid area -->
                    <p class="popup-table-title">Time Series</p>
                    <p class="popup-table-title">Lower Limit</p>
                    <p class="popup-table-title">Upper Limit</p>

                    <label class="checkbox">
                        <input class="input-checkbox" name="checkbox" id="checkboxBlood" value="1" type="checkbox">
                        Blood Glucose (nmol/L)
                    </label>
                    <div class="popup-input-box-container">
                        <input type="text" id="popup-input-box" name="lower_bg" maxlength="10">
                    </div>
                    <div class="popup-input-box-container">
                        <input type="text" id="popup-input-box" name="upper_bg" maxlength="10">
                    </div>

                    <label class="checkbox">
                        <input class="input-checkbox" name="checkbox" id="checkboxWeight" value="1" type="checkbox">
                        Weight (kg)
                    </label>
                    <div class="popup-input-box-container">
                        <input type="text" id="popup-input-box" name="lower_weight" maxlength="10">
                    </div>
                    <div class="popup-input-box-container">
                        <input type="text" id="popup-input-box" name="upper_weight" maxlength="10">
                    </div>

                    <label class="checkbox">
                        <input class="input-checkbox" name="checkbox" id="checkboxExercise" value="1" type="checkbox">
                        Exercise (Steps)
                    </label>
                    <div class="popup-input-box-container">
                        <input type="text" id="popup-input-box" name="lower_steps" maxlength="10">
                    </div>
                    <div class="popup-input-box-container">
                        <input type="text" id="popup-input-box" name="upper_steps" maxlength="10">
                    </div>

                    <label class="checkbox">
                        <input class="input-checkbox" name="checkbox" id="checkboxDoses" value="1" type="checkbox">
                        Num. Doses
                    </label>
                    <div class="popup-input-box-container">
                        <input type="text" id="popup-input-box" name="lower_doses" maxlength="10">
                    </div>
                    <div class="popup-input-box-container">
                        <input type="text" id="popup-input-box" name="upper_doses" maxlength="10">
                    </div>

                    <button class="button04 purple1">Update</button>
                </div>
            </div>
            <button class="button04 purple1">Message</button>
            <div id="backgroundMasker"></div>
            <script src="../scripts/script.js"></script>


        </div>
    </div>

    <div class="patient-specifics-table">
        <div class="patient-specifics-table-header">Date/Time</div>
        <div class="patient-specifics-table-header">Data Type</div>
        <div class="patient-specifics-table-header">Value</div>
        <div class="patient-specifics-table-header">Comment</div>

        {{#each profileValues}}
        <div class="patient-specifics-table-data">{{dateTime}}</div>
        <div class="patient-specifics-table-data">-</div>
        <div class="patient-specifics-table-data">-</div>
        <div class="patient-specifics-table-data">{{comment}}</div>
        {{/each}}

    </div>

    <div class="patient-specifics-notes-container">
        <h2>Clinical Notes for {{profileData.username}}</h2>

        <div class="clinician-notes">
            <div class="clinician-notes-cell">Date Entered</div>
            <div class="clinician-notes-cell">Note</div>
            <div class="clinician-notes-cell">11/01/22 3:00 PM</div>
            <div class="clinician-notes-cell">This is a hardcoded test note. We need to connect this page to the
                database.</div>
        </div>
        <br>
        <h3>Enter new note</h3>
        <form action="/">
            <input type="text" id="clinicanNote" name="cNote" placeholder="Start typing here...">
            <input class="todo" type="submit" value="Submit Note">
        </form>

    </div>
</div>

<div class="patient-specifics-overview-container">
    <h2 class="patient-specifics-grid-title">Overview of {{profileData.username}}'s Health Data</h2>

    <div class="patient-specifics-graph">
        <h2>Statistical Graph</h2>
    </div>

    <div class="patient-specifics-month">
        <h2>Monthly Overview</h2>
    </div>
</div>
<br>